# Entornos virtuales
.venv/
venv/
ENV/
env/

# Archivos de caché de Python
__pycache__/
*.py[cod]
*$py.class
*.so

# IDEs y editores
.vscode/
.idea/
*.swp
*.swo

# Logs y bases de datos locales
*.log
